/* replace sliceHeight */
.catalog_block_main .slides.items.flexbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
body .catalog_block_main.catalog.table .item .inner-wrap{
    overflow: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
}
body .catalog_block_main.catalog.table .item:hover .inner-wrap{
    height: 100%;
}
.catalog_block_main.catalog.item-views.table .item-wrap{
    height: auto;
}

body .catalog_block_main.catalog .item:hover{
    z-index: 13;
}
body .catalog_block_main.item-views .item .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
body .catalog_block_main.item-views .item .text{
	padding-bottom: 26px;
}
.catalog_block_main.catalog.item-views.table .item .image>.wrap{
	line-height: normal;
}
.catalog.item-views .flexslider .active-slides .item {
    height: 100%;
}
@media (min-width: 768px) {
    body .catalog_block_main.catalog.table .item .footer-button{
        margin: 0;
        border-bottom-left-radius: 3px;
    }
    body .catalog_block_main .item-wrap .footer-button {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background: #fff;
		border-color: #fff;
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    }
}
@media (max-width: 767px) {
    .main-section-wrapper .catalog_block_main.catalog.item-views.table .item{
    	height: 100%;
    	border-bottom: none;
    }
    .catalog_block_main.catalog.item-views.table .item .foot{
    	flex: initial;
    }
    body .catalog_block_main.catalog.table .item .footer-button{
		margin: 0px -20px;
	}
}
/* end */