.wrapper_block.title_left+.contacts_map_list{padding-left: 311px;}
.stores-amount-list:not(.stores-amount-list--active) { display: none}
.with_title .block_container {position: absolute; z-index: 1;background: #fff;display: block;border-right-width: 0;box-shadow: 12px 0 12px -12px rgba(0,0,0,.2);}
.wrapper_block.title_left .block_container {left: 0;width: 312px;height: 500px;}

.with_title .block_container .items{overflow: auto;height: 100%;}
.with_title .block_container .items .item{padding: 21px 29px;border-bottom: 1px solid #f1f1f1;cursor: pointer;}
.with_title .block_container .items .item:hover{background: #fafafa;cursor: pointer;}
.with_title .block_container .items .item .item-stock {margin: 7px 0 0;}

.with_title .block_container .detail_items{display: none;position: absolute;top: 0;z-index: 1;background: #fff;height: 100%;left: 0;width: 312px;overflow: auto;}
.with_title .block_container .detail_items div.item {display: none;}
.with_title .block_container .detail_items .map_info_store {padding: 29px 34px 15px;}

.with_title .block_container .detail_items .top-close {position: absolute;top: 15px;right: 15px;cursor: pointer;opacity: 1;}
.with_title.title_left .block_container .detail_items .top-close svg {width: 10px;height: 10px;}
.with_title.title_left .block_container .detail_items .top-close svg:hover path{fill: #000;}
.bordered {border: 1px solid #eee;}
.front_page .content_wrapper_block.front_map .top_block{
	padding-top: 38px;
}
.front_page .content_wrapper_block.front_map{
	border-top: 1px solid #f2f2f2;
}
.front_page .wraps .maxwidth-theme.front_map_wrapper{
	padding-bottom: 50px;
	padding-top: 0!important;
}
.with_title .block_container .detail_items .buttons_block {
    margin: 13px 33px 20px;
}

@media(max-width: 767px){
	body .map_type_2 .with_title .block_container {box-shadow: none;border-right-width: 1px;}
}
@media screen and (max-width: 767px), projection and (max-width: 767px), tv and (max-width: 767px), handheld and (max-width: 767px) {
	.with_title .block_container .detail_items, .with_title .block_container .items, body .wrapper_block.with_title .block_container {height: auto;max-height: 300px;}
	body .wrapper_block.with_title .block_container, body .wrapper_block.with_title .block_container .detail_items { position: static; width: 100%;}
	.wrapper_block.with_title+.contacts_map_list {padding-left: 0;padding-right: 0;}
}

@media(max-width: 550px){
	.map_type_2 .contacts_map_list .contacts_map {min-height:250px;}
	.map_type_2 .contacts_map_list .contacts_map .bx-yandex-view-map .bx-yandex-map{height: 250px!important;}
	.map_type_2 .with_title .block_container .items{max-height:250px;}
}
